@import "tailwindcss";

/* Font family : plus jakarta sans */

/* Varian Normal */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Medium (500) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* SemiBold (600) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Bold (700) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ExtraBold (800) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* --- VARIAN ITALIC --- */

/* Regular Italic (400) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium Italic (500) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold Italic (600) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic (700) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold Italic (800) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@theme {
  /* font family */
  --font-sans: "Plus Jakarta Sans", sans-serif;

  /* color style */
  --color-primary: #3c63c5;
  --color-bg-main: #f0f4fe;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
}

/* --- 3. RESET DASAR --- */
body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  overflow-x: hidden;
  font-family: var(--font-sans);

  /* Anti-blur: membuat font lebih tajam di semua browser */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
